.card {
  width: 400px;
  height: 600px;
  background-color: #eee;
  border-radius:20px;
}

.card-image-title {
  width:100%;
  height: 100px;
  background-image: url("https://kareliya-tur.ru/assets/cache_image/images/tury/1tury-ot-stelly/vyhodnye-na-severe/vyhodnye-na-severe-6_768x480_8de.png");
  border-radius:20px 20px 0 0;
  background-size: cover;
  transition: 700ms;
}

.card-image-title:hover {
    height: 200px;

}
.btn-scale{
  margin: 30px 0px 0px 30px;
  font-weight: 700;
  background-color:rgba(204, 51, 255, 0.8)
  ;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
.btn-scale:hover{
 margin: 35px 0 0 35px;
}
.btn-pressed{
  background-color:rgba(250, 244, 235, 0.8);
}